DB_HOST=romm-db
DB_NAME=romm
DB_USER=romm-user
DB_PASSWD={{ mariadb_password }}
IGDB_CLIENT_ID={{ igdb_client_id }}
IGDB_CLIENT_SECRET={{ igdb_client_secret }}
MOBYGAMES_API_KEY={{ mobygames_api_key }}
ROMM_AUTH_SECRET_KEY={{ romm_secret_auth_key }}
ROMM_AUTH_USERNAME=superman
ROMM_AUTH_PASSWORD={{ romm_password }}